body,
html,
#root {
  margin: 0;
  font-family: "Roboto", sans-serif;
  padding: 0px;
  height: 100%;
  width: 100%;
  background-color: #D7D6C3;
  background-image: url("./assets/background-img-home.jpg");
  background-size: 100% 100%;
  background-position: center;
  background-repeat: no-repeat;
}
